include ./src/mixins

doctype html
html.h-full.overflow-y-scroll.no-js(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		title The Game of Thrones Characters that Fans Love (to Hate)
		meta(name='description' content='A sentiment analysis of over 300,000 Reddit comments reveals how fans really feel about characters from HBO’s blockbuster series.')
		script.
			document.documentElement.classList.remove('no-js')
		link(rel='stylesheet' href='./src/style.css')
		link(href='https://fonts.googleapis.com/css?family=Alegreya:400,400i,700,700i|Eczar:700&display=swap' rel='stylesheet')
	body.bg-subtle-100.h-full.text-subtle-700.leading-normal.font-body
		//- Icon spritesheet
		include src/icons.svg
		//- Site header
		header
		main
			//- Essay body
			article
				//- Essay cover
				header.text-center.px-5.border-b-8.border-emphasis-700.border-double
					.my-16(class='md:my-24')
						h1.o-container.o-container--wide.font-bold.font-heading.leading-tight.text-grey-900.text-3xl(class='sm:text-4xl md:text-5xl lg:text-6xl')
							| The 
							cite.italic.font-body.text-emphasis-700 Game of Thrones
							|  Characters that Fans Love to&nbsp;Hate
						.o-container
							p.mt-5.text-lg(class='sm:text-xl md:text-2xl')
								| A sentiment analysis of over 300,000 Reddit comments reveals how fans 
								em really
								| feel about characters from HBO&rsquo;s blockbuster series.
							p.mt-5.text-sm.tracking-wider.uppercase(class='sm:text-base')
								| A visual essay by 
								a(href='https://www.cmessinides.com' rel='noopener' target='_blank') Cameron Messinides
					span.inline-block.mb-5.text-emphasis-700.italic (Spoilers!)
					img.block.mx-auto(src='./src/static/characters.png' alt='' width='420' height='90' style='opacity:0.9')
				+textContent
						p
							| Which
							|
							cite Game of Thrones
							|
							| character inspired the most hatred among the fans?
							| Cersei? Ramsay? Surely Joffrey and his sneers must have earned him the title, right?
							| And how about the reverse: which characters were perennial fan favorites? Tormund?
							| Arya? Pod the Rod?
						p
							| I found myself asking these questions recently. In July, I finished watching through the
							| series for the first time, and because I&rsquo;m late to the game, I wondered if the
							| way I felt about various characters or moments was in line with how fans had reacted
							| to the show as it unfolded in real time.
						h2 What is Sentiment Analysis?
						aside
							p
								| Case in point: an earlier draft of this essay included Ghost,
								| Jon&rsquo;s direwolf, as a character &mdash; that was, until I checked the results and found
								| that on average, sentences that mentioned Ghost were by far the most negative of any character.
								| That&rsquo;s because the word &ldquo;ghost&rdquo; has
								|
								a(href='https://github.com/cjhutto/vaderSentiment/blob/b045da3c5a29ed130777a16dc78588f53da54a05/vaderSentiment/vader_lexicon.txt#L3254')
									| a moderately negative sentiment rating of -1.3 in VADER
								| .
							p
								| In an ideal world, I would use a sentiment analyzer tuned to the language of
								|
								cite Game of Thrones
								| , where &ldquo;Ghost&rdquo; could be a neutral word, but I have
								| neither the expertise nor the resources to create such a tool. VADER works well enough for 99
								| percent of characters in the series, but unfortunately for Ghost,
								|
								a(href='https://youtu.be/8JFwkRcpukk?t=173') we&rsquo;ll have to leave our dear direwolf behind
								|
								| for this project.
				+visualization('overall-scores-viz')
				+textContent
				+visualization('jon-snow-viz')
				+textContent
				+visualization('searchable-character-viz')
				+textContent
				+visualization('stannis-viz')
				+textContent
				+visualization('hodor-viz')
		//- Site footer
		footer
		script(async='' src='./src/main.js')
