+textContent
	:markdown-it(html typographer)
		Which <cite>Game of Thrones</cite> character inspired the most hatred among the fans? Cersei? Ramsay? Surely Joffrey and his sneers must have earned him the title, right? And how about the reverse: which characters were perennial fan favorites? Tormund? Arya? Pod the Rod?

		I found myself asking these questions recently; in July, I finished watching through the series for the first time. Luckily, <cite>Thrones</cite> fans have not been shy about sharing their feelings online. In particular, three subreddits&mdash;[/r/gameofthrones](https://www.reddit.com/r/gameofthrones), [r/asoiaf](https://www.reddit.com/r/asoiaf), and [/r/freefolk](https://wwww.reddit.com/r/freefolk)&mdash;have archived discussion threads for all 73 episodes with thousands of fan comments.

		So I scraped a bunch of those Reddit comments (300,101 to be exact) and ran them through a sentiment analyzer. I searched them for sentences that mentioned prominent characters and analyzed those sentences as well. The end result is a big heap of sentiment scores that allow us to see (roughly) how fans felt about a character at any given point in the series.

	aside
		:markdown-it(html typographer)
			### Before Going Further: Some Limitations

			This study isn't perfect. Here's some things to keep in mind as you read ahead:

			- **Not all <cite>Game of Thrones</cite> fans are on Reddit.** Most probably aren't. Reddit comments might be representative of the fandom as a whole, but there is also likely some unavoidable bias.
			- **This is not a random sample.** Some of these discussion threads have more than 100,000 comments apiece. I simply didn't have the time to handle that much data. Therefore, this analysis uses the top comments from each thread&mdash;which could introduce bias.
			- **Sentiment analysis is a noisy metric.** As I'll explain in more detail in the [next section](#sentiment-analysis-a-primer), sentiment analysis can't tell us much about how fans felt toward a character. At most, it indicates how strong their reaction to a character (positive or negative) was at any given time.

	:markdown-it(html typographer)
		The rest of this essay will try to figure out which <cite>Game of Thrones</cite> characters won over the fans and which ones made themselves unforgivable. But first, let's cut through the jargon: what *is* sentiment analysis?
