+textContent
	h2#the-big-picture A Look at the Big Picture

	+__temporaryWIPNotice

	aside
		p Hover/tap anywhere on the chart to see more detailed information about an episode.			

+visualization('overall-scores-viz')

+textContent
	+__temporaryWIPNotice
