.c-viz__header {
	@apply flex;
	@apply items-start;
}

.c-viz__character-image {
	@apply block;
	@apply rounded-full;
	@apply mr-3;
	width: 48px;
	height: 48px;
	object-fit: cover;
}

.c-viz__title {
	@apply text-2xl;
	@apply font-bold;
	@apply font-heading;
	@apply text-black;
	@apply leading-none;
}

.c-viz__kicker {
	@apply block;
	@apply text-sm;
	@apply font-normal;
	@apply font-body;
	@apply uppercase;
	@apply tracking-wider;
	@apply text-orange-700;
	@apply mb-2;
}

.c-viz__scroll-container {
	@apply -mx-5;
}

.c-viz__chart-container {
	@apply mt-5;
	@apply pl-5;
	@apply flex;
	overflow-x: auto;
}

/* This is hacky, but it provides a spacer so that the
	 the chart is not flush with the screen when it overflows
	 and creates a scroll container. */
.c-viz__chart-container::after {
	@apply block;
	@apply w-5;
	@apply flex-none;
	content: '';
}
